<td>{{form_widget (formulaire.article) }}</td>
<td>{{form_widget (formulaire.quantite) }}</td>
<td>{{form_widget (formulaire.prixUnitaire) }}</td>
<td>{{form_widget (formulaire.totalLigne) }}</td>




<td>
    <button type="button" class="btn btn-danger btn-remove"> <i class="ri-delete-bin-line mr-0"></i></button>
    <button type="button" class="btn btn-success btn-valide" onclick="calcul();"> <i class="ri-checkbox-line mr-0"></i></button>
</td>

