<td>{{form_widget (formulaire.article) }}</td>
<td >{{form_widget (formulaire.quantite, {'attr':{class:'form-control'}}) }}</td>
<td >{{form_widget (formulaire.prixUnitaire,  {'attr':{class:'form-control'}}) }}</td>
{# {% set q = formulaire.quantite.vars.value %}
{% set p = formulaire.prixUnitaire.vars.value %}  #}
<td> 0</td>

<td><button type="button" class="btn btn-danger btn-remove"> supprimer</button></td>