<td>{{form_widget (formulaire.article) }}</td>
<td >{{form_widget (formulaire.quantite, { 'attr': {'id': 'quantite'} }) }}</td>
<td >{{form_widget (formulaire.prixUnitaire,  { 'attr': {'id': 'prix'} }) }}</td>
{# {% set q = formulaire.quantite.vars.value %}
{% set p = formulaire.prixUnitaire.vars.value %}  #}
<td> 0</td>

<td><button type="button" class="btn btn-danger btn-remove"> supprimer</button></td>