<form method="post" action="{{ path('delete_fournisseur', {'id': fournisseur.id}) }}" onsubmit="return confirm('Etes-Vous sur de supprimer ce élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
    <button class="btn btn-warning">Supprimer</button>
</form>


