{% extends "main/template.html.twig" %}

{% block contenu %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Ajouter Une Categorie</h4>
                </div>
            </div>
            <div class="card-body">
                {{form_start (formulaire)}}
               
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                
                                {{ form_label (formulaire.libelle,"libellé *")}}
                                {{form_widget(formulaire.libelle, {'attr':{class:'form-control',"placeholder":"Entrer le libellé"}})}} 
                                
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>


                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Ajouter</button>
                    <button type="reset" class="btn btn-danger">Nettoyer</button>
               
                {{form_end (formulaire)}}
            </div>
        </div>
    </div>
</div>
{% endblock contenu %}