<form method="post" action="{{ path('delete_article', {'id': article.id}) }}" onsubmit="return confirm('Etes-Vous sûr de supprimer ce élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <a class="badge bg-warning mt-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="ri-delete-bin-line mr-0"></i></a>
</form>

